/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background-color: #f9f9f9;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Container for the entire app */
.app-container {
  display: flex;
  min-height: 100vh;
}

/* Main content area */
.main-content {
  flex: 1;
  padding: 20px;
}

/* Utility Classes */
.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

/* Responsive Grid */
.grid {
  display: grid;
  gap: 20px;
}

.product-search{
  display: flex;
      justify-content: center;
      margin: auto;
}
.product-search input{
  padding: 10px 10px;
  border-radius: 5px;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}